#calculator{
	padding-top: 4px;
	width: 200px;
	height: 180px;
	margin: 0 auto;
	background-color: white;
	border: 1px solid black;
}

#displayNumbers{
	text-align: right;
	padding-right: 3px;
	margin-top: -3px;
	color: black;
}
#display{
	width: 90%;
	height: 15%;
	margin: 0 auto;
	background-color: white;
	border: 1px solid black;
}

#buttons{
	padding-top: 6.5%;
	padding-left: 4px;
	padding-right: 4px;
}

#button0{
	width: 48.5%;
}

button{
	width: 23.2%;
}

